/* 
:root {
    --blue: #293753;
    --alicblue: #f0f8ff;
    --black: #111;
    --alicblue1: #d7ecff;
    --alicblue2: #bde0ff;
    --alicblue3: #a4d4ff;
    --green: #2ECC41;
    --blue1: #243658;
}
*/


